In [1]:
import pyspark

ModuleNotFoundError: No module named 'pyspark'

In [2]:
import findspark

In [3]:
findspark.init('/home/samet/spark-3.2.1-bin-hadoop3.2')

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [10]:
df = spark.read.json('people.json')

In [11]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [14]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [15]:
df.columns

['age', 'name']

In [18]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [19]:
from pyspark.sql.types import (StructField, StringType,
                               IntegerType, StructType)

In [20]:
data_schema = [StructField('age', IntegerType(), True),
               StructField('name', StringType(), True)]

In [23]:
final_struct = StructType(fields=data_schema)

In [24]:
df = spark.read.json('people.json', schema=final_struct)

In [25]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [27]:
type(df['age'])

pyspark.sql.column.Column

In [31]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [38]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [40]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [41]:
df.withColumn('double_age', df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [42]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [43]:
df.createOrReplaceTempView('people')

In [44]:
results = spark.sql("SELECT * FROM people")

In [45]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [46]:
 new_results = spark.sql("SELECT * FROM people where age=30")

In [47]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+